[Unit]
Description=Tailscale connection on boot.
After=network-online.target tailscaled.service
Requires=tailscaled.service

[Service]
Type=oneshot
ExecStart=/usr/bin/env bash -c '\
  /usr/bin/tailscale status &>/dev/null || \
  /usr/bin/tailscale up \
    --reset \
    --auth-key="{{ tailscale.oauth_private_key }}?ephemeral=true" \
    --hostname "{{ instance_name }}" \
{% if tailscale_advertise_routes is defined and tailscale_advertise_routes != "" %}
    --advertise-routes="{{ tailscale_advertise_routes }}" \
{% endif %}
    --accept-routes \
    --accept-dns=false \
{% if tailscale_tags is defined and tailscale_tags | length > 0 %}
    --advertise-tags="{{ tailscale_tags | map("string") | map("regex_replace", "^", "tag:") | join(",") }}" \
{% endif %}
'
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
