
; {{ ansible_managed }}

[server]
protocol = http
http_port = {{ services.grafana.default_port }}
domain = grafana.{{ common.dns.domain }}
root_url = %(protocol)s://%(domain)s/
serve_from_sub_path = true

