server:
  http_listen_port: {{ tempo_http_port }}
  grpc_listen_port: {{ tempo_grpc_port }}
  log_level: info

distributor:
  receivers:
    jaeger:
      protocols:
        thrift_http:
          endpoint: 0.0.0.0:14268
        grpc:
          endpoint: 0.0.0.0:14250
        thrift_binary:
          endpoint: 0.0.0.0:6832
        thrift_compact:
          endpoint: 0.0.0.0:6831
    zipkin:
      endpoint: 0.0.0.0:9411
    otlp:
      protocols:
        http:
          endpoint: 0.0.0.0:4318
        grpc:
          endpoint: 0.0.0.0:4317
    opencensus:
      endpoint: 0.0.0.0:55678

ingester:
  max_block_duration: 5m

compactor:
  compaction:
    block_retention: {{ tempo_retention_period }}

storage:
  trace:
    backend: local
    wal:
      path: {{ tempo_data_dir }}/wal
    local:
      path: {{ tempo_data_dir }}/blocks
    pool:
      max_workers: 100
      queue_depth: 10000

querier:
  frontend_worker:
    frontend_address: localhost:{{ tempo_grpc_port }}

query_frontend:
  search:
    max_duration: 0s

metrics_generator:
  registry:
    external_labels:
      source: tempo
      cluster: homelab
  storage:
    path: {{ tempo_data_dir }}/generator/wal
    remote_write:
      - url: http://localhost:9090/api/v1/write
        send_exemplars: true

overrides:
  metrics_generator_processors:
    - service-graphs
    - span-metrics
