
# {{ ansible_managed }}

{% set proxmox_servers = [] %}
{% for host in groups['all'] %}
    {% set _ = proxmox_servers.append(hostvars[host].ansible_host ~ ':' ~ hostvars[host]['proxmox']['default_ui_port']) %}
{% endfor %}

{% set upstreams =
    {'proxmox': proxmox_servers}
    | combine(common.global_service_map) %}

{% for name, backends in upstreams.items() %}
server {
    listen 443 ssl;
    listen [::]:443 ssl;
    server_name {{ name }}.{{ common['dns']['domain'] }} ~^{{ name }}\..+\.{{ common['dns']['domain'] }}$;

    # access_log "/var/log/nginx/{{ name }}-access-logs.log" custom_log;
    # error_log  "/var/log/nginx/{{ name }}-errors-logs.log" warn;

    ssl_certificate     /etc/ssl/certs/self-signed.crt;
    ssl_certificate_key /etc/ssl/private/self-signed.key;

    location / {
        proxy_pass         http://{{ name }};
        proxy_set_header   Host $host;
        proxy_set_header   X-Real-IP $remote_addr;
        proxy_set_header   X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header   X-Forwarded-Proto https;
        proxy_set_header   Upgrade $http_upgrade;
        proxy_set_header   Connection "Upgrade";
    }
}

{% endfor %}
