
# Configuration file for Ansible.
# https://docs.ansible.com/ansible/latest/reference_appendices/config.html.

[defaults]
inventory = inventory.yml

# Configure output.
nocows = 1

# Disable retry files.
retry_files_enabled = false

# Configure warnings and errors.
deprecation_warnings = true
error_on_undefined_vars = true
system_warnings = true

# Better message for {{ ansible_managed }} string.
ansible_managed = This file is managed by Ansible - manual changes are likely to be overwritten.

# Use pipelining.
# pipelining = true

strategy_plugins = /usr/lib/python3.13/site-packages/ansible_mitogen/plugins/strategy/
strategy = mitogen_linear

[diff]

# Always show differences in 'changed' status.
always = true
