
# {{ ansible_managed }}

# Local static DNS records.
# These records are resolved locally by this machine and are not forwarded on.
{% for record in services.nginx_reverse_proxy.static_records %}
host-record={{ record.subdomain }}.{{ common.dns.domain }},{{ services.nginx_reverse_proxy.ipv4 }}
{% endfor %}

# Root domain DNS records (to prevent DNS loops).
host-record={{ common.dns.domain }},{{ host.ipv4 }}

# Assign proxmox subdomains to allow for specific access, when needed.
{% for server in groups['all'] %}
host-record=proxmox.{{ server.split('_')[-1] }}.{{ common.dns.domain }},{{ hostvars[server].host.ipv4 }}
{% endfor %}

# Route any additional {{ common.dns.domain }} traffic to the nginx-reverse-proxy.
address=/.{{ common.dns.domain }}/{{ services.nginx_reverse_proxy.ipv4 }}

# Public upstream DNS servers.
server=1.1.1.1
server=8.8.8.8

# DNS interface bindings.
listen-address=127.0.0.1
listen-address={{ host.ipv4 }}
bind-interfaces # Makes dnsmasq ONLY bind to the above interfaces.

# Domain handling.
domain={{ common.dns.domain }} # The default domain used for this server.
local=/{{ inventory_hostname.split('_')[-1] }}.{{ common.dns.domain }}/ # Force local resolution for this subdomain.
no-resolv # Prevent dnsmasq from reading /etc/resolv.conf.
expand-hosts # Auto-appends 'domain=' to host-records and /etc/hosts.

# Performance.
cache-size=1000 # Enable caching for faster DNS responses.
dns-forward-max=600 # Increase max-concurrent DNS queries to handle higher load.
local-ttl=60 # Set TTL for local DNS responses.

# Security & Safety.
bogus-priv # Block private IP lookups from being sent to upstream DNS.
domain-needed # Prevent resolving single-label names.
no-ping # Don't reply to ICMP pings.
stop-dns-rebind # Block rebind attacks on private IPs.
rebind-domain-ok={{ common.dns.domain }} # Allow rebinds for this domain.
no-poll # To prevent polling for upstream servers when there's no record.

