---

# {{ ansible_managed }}

# Global configuration.
global:
  scrape_interval: 30s      # The scape interval; Default is every 1 minute.
  scrape_timeout: 15s       # The scrape timeout; Default is 10s.
  evaluation_interval: 30s  # How often rules are evaluated rules; Default is every 1 minute.

# Alertmanager configuration.
#alerting:
#  alertmanagers:
#    - static_configs:
#        - targets:
#           - alertmanager:9093

# Rules configuration.
# NOTE: Rules are loaded once and periodically evaluated according to the global 'evaluation_interval'.
rule_files:
  # - "first_rules.yml"
  # - "second_rules.yml"

# Scrape configuration.
scrape_configs:

  # Internal monitoring.
  - job_name: prometheus
    static_configs:
      - targets: ["0.0.0.0:{{ services.prometheus.default_port }}"]

  # Open Telemetry Collector.
  - job_name: "{{ host.name }}"
    static_configs:
      - targets: ["{{ ansible_host }}:{{ host.collector.metrics_port }}"]

  # dnsmasq_exporter.
  - job_name: "{{ host.name }} | dnsmasq_exporter"
    static_configs:
      - targets: ["{{ ansible_host }}:{{ host.dnsmasq_exporter.metrics_port }}/metrics"]
