
# {{ ansible_managed }}

{# Build a mapping of subdomain to list of IP:port #}
{% set service_map = {} %}
{% for host, vars in hostvars.items() %}
  {% if 'reverse_proxy' in vars %}
    {% for service in vars.reverse_proxy %}
      {% set name = service.subdomain %}
      {% set target = service.forward_to_ipv4 %}
      {% if name in service_map %}
        {% set _ = service_map[name].append(target) %}
      {% else %}
        {% set _ = service_map.update({ name: [target] }) %}
      {% endif %}
    {% endfor %}
  {% endif %}
{% endfor %}

{# Create nginx server blocks #}
{% for subdomain, targets in service_map.items() %}
server {
    listen 443 ssl;
    listen [::]:443 ssl;
    server_name {{ subdomain }};

    # access_log "/var/log/nginx/{{ subdomain }}-access-logs.log" custom_log;
    # error_log  "/var/log/nginx/{{ subdomain }}-errors-logs.log" warn;

    ssl_certificate /etc/ssl/certs/self-signed.crt;
    ssl_certificate_key /etc/ssl/private/self-signed.key;

    location / {
        proxy_pass http://{{ subdomain }};
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection "Upgrade";
    }
}
{% endfor %}
