#!/usr/bin/env bash
# Installs any additional dependencies inside LXC containers.
#
# {{ ansible_managed }}

set -e

# install deps.
apt-get update 1>/dev/null
apt-get install -y locales 1>/dev/null

# setup locale.
echo "en_AU.UTF-8 UTF-8" > /etc/locale.gen
locale-gen en_AU.UTF-8
update-locale LANG=en_AU.UTF-8 LC_ALL=en_AU.UTF-8
export LANG=en_AU.UTF-8
export LC_ALL=en_AU.UTF-8
