
# {{ ansible_managed }}

{% set proxmox_servers = [] %}
{% for host in groups['all'] %}
    {% set _ = proxmox_servers.append(hostvars[host].ansible_host ~ ':' ~ hostvars[host]['proxmox']['default_ui_port']) %}
{% endfor %}

{% set upstreams =
    {'proxmox': {'backends': proxmox_servers, 'protocol': 'https'}}
    | combine(common.global_service_map) %}

{% for name, service_data in upstreams.items() %}
    {% set protocol = service_data.protocol %}
    {% set backends = service_data.backends %}

server {
    listen 443 ssl{% if loop.first %} default_server{% endif %};
    listen [::]:443 ssl{% if loop.first %} default_server{% endif %};

    server_name {{ name }}.{{ common['dns']['domain'] }} ~^{{ name }}\..+\.{{ common['dns']['domain'] }}$;

    ssl_certificate     /etc/ssl/certs/self-signed.crt;
    ssl_certificate_key /etc/ssl/private/self-signed.key;

    location / {
        proxy_pass {{ protocol }}://{{ name }};
        {% if protocol == 'https' %}
        proxy_ssl_verify off;
        {% endif %}

        proxy_set_header Host {{ name }}.{{ common['dns']['domain'] }};
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto https;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection "Upgrade";
    }
}
{% endfor %}

