#!/usr/bin/env bash
# This script installs and configures Tailscale.
#
# {{ ansible_managed }}

set -e

# Install Tailscale.
ID=$(grep '^ID=' /etc/os-release | cut -d'=' -f2)
VER=$(grep '^VERSION_CODENAME=' /etc/os-release | cut -d'=' -f2)
wget -qO- https://pkgs.tailscale.com/stable/$ID/$VER.noarmor.gpg > /usr/share/keyrings/tailscale-archive-keyring.gpg
echo "deb [signed-by=/usr/share/keyrings/tailscale-archive-keyring.gpg] https://pkgs.tailscale.com/stable/$ID $VER main" > /etc/apt/sources.list.d/tailscale.list
apt-get update -q
DEBIAN_FRONTEND=noninteractive \
  apt-get -y install tailscale --fix-missing 1>/dev/null
systemctl enable --now tailscaled.service

# Configure IP forwarding for Tailscale.
# https://tailscale.com/kb/1019/subnets?tab=linux#enable-ip-forwarding.
echo 'net.ipv4.ip_forward = 1' | tee -a /etc/sysctl.conf
echo 'net.ipv6.conf.all.forwarding = 1' | tee -a /etc/sysctl.conf
sysctl -p /etc/sysctl.conf

# Configure Tailscale UDP/GRO optimizations.
# https://tailscale.com/kb/1320/performance-best-practices#linux-optimizations-for-subnet-routers-and-exit-nodes.
DEBIAN_FRONTEND=noninteractive \
  apt-get -y install ethtool 1>/dev/null
cat << EOF > /etc/systemd/system/tailscale-optimizer.service
[Unit]
Description=UDP/GRO optimizations for Tailscale.
Documentation=https://tailscale.com/kb/1320/performance-best-practices
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/bin/env bash -c '\
  ethtool -K $(ip -o route get 8.8.8.8 | cut -f5 -d " ") rx-udp-gro-forwarding on rx-gro-list off \
'

[Install]
WantedBy=multi-user.target
EOF
systemctl daemon-reload
systemctl enable --now tailscale-optimizer.service

# Setup Tailscale on-boot.
# https://tailscale.com/kb/1215/oauth-clients#registering-new-nodes-using-oauth-credentials.
cat << EOF > /etc/systemd/system/tailscale-booter.service
[Unit]
Description=Runs Tailscale on boot.
After=network-online.target tailscaled.service tailscale-optimizer.service
Requires=tailscaled.service

[Service]
Type=oneshot
ExecStart=/usr/bin/env bash -c '\
  /usr/bin/tailscale status &>/dev/null || \
  /usr/bin/tailscale up \
    --auth-key="{{ tailscale.oauth_private_key }}?ephemeral=true" \
    --hostname "{{ proxmox_node_name }}" \
    --advertise-routes="{{ tailscale_routes }}" \
    --accept-routes \
    --advertise-tags="{{ tailscale_tags | map('string') | map('regex_replace','^','tag:') | join(',') }}" \
'
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
EOF
systemctl daemon-reload
systemctl enable --now tailscale-booter.service

