#!/usr/bin/env bash
# This script installs and configures nginx as a reverse-proxy.

# {{ ansible_managed }}

# Install nginx.
apt-get -y install nginx


# Setup config.
cat << EOF > /etc/nginx/sites-enabled/jmpa.conf

# Logs.
log_format custom_log '"Request: \$request\n Status: \$status\n Request_URI: \$request_uri\n Host: \$host\n Client_IP: \$remote_addr\n Proxy_IP(s): \$proxy_add_x_forwarded_for\n Proxy_Hostname: \$proxy_host\n Real_IP: \$http_x_real_ip\n User_Client: \$http_user_agent"';

# Proxmox.
upstream proxmox-backend {
  least_conn; # serve the server with the least number of connections.

{% for host in groups['all'] %}
  server {{ hostvars[host].ansible_host }}; # {{ host }}.
{% endfor %}

}

# HTTP -> HTTPS redirect.
server {
        listen 80;
        listen [::]:80;
        server_name _;
        return 301 https://\$host\$request_uri;
}

# SSL settings.
ssl_certificate /etc/ssl/certs/selfsigned.crt;
ssl_certificate_key /etc/ssl/private/selfsigned.key;

# Servers.


EOF
