#!/usr/bin/env bash
# This script installs and configures nginx as a reverse-proxy.

# {{ ansible_managed }}

# add private key.
cat <<EOF > /etc/ssl/private/self-signed.key
{{ hostvars[inventory_hostname].ssl_private_key }}
EOF

# add self-signed cert.
cat <<EOF > /etc/ssl/certs/self-signed.crt
{{ hostvars[inventory_hostname].ssl_cert }}
EOF

# Install nginx & certbot.
apt-get -y install nginx 1>/dev/null

# reload nginx.
nginx -s reload

