
# {{ ansible_managed }}

{% set proxmox_backends = [] %}
{% for h in groups['all'] %}
  {% set _ = proxmox_backends.append(hostvars[h].ansible_host ~ ':' ~ hostvars[h]['proxmox']['default_ui_port']) %}
{% endfor %}

{% set upstreams =
  {'proxmox': {
      'backends': proxmox_backends,
      'protocol': 'https'
  }}
  | combine(common.global_service_map)
%}

{% for name, data in upstreams.items() %}
# {{ name | title }}.
upstream {{ name }} {
  least_conn;

  {% if name == 'grafana' %}
  hash $remote_addr consistent;
  {% endif %}

  {% for backend in data.backends %}
  server {{ backend }};
  {% endfor %}
}
{% endfor %}

