
# {{ ansible_managed }}

{% set upstreams =
  {'proxmox': {
      'backends': [hostvars[h].ansible_host ~ ':' ~ hostvars[h]['proxmox']['default_ui_port'] for h in groups['all']],
      'protocol': 'https'
  }}
  | combine(common.global_service_map)
%}

{% for name, data in upstreams.items() %}
# {{ name | title }}.
upstream {{ name }} {
  least_conn;

  {% if name == 'grafana' %}
  # Keep sessions sticky for Grafana (important for login)
  sticky cookie srv_id expires=1h domain={{ common['dns']['domain'] }} path=/;
  {% endif %}

{% for backend in backends %}
  server {{ backend }};
{% endfor %}
}

