
# {{ ansible_managed }}

# The loopback network interface.
auto lo
iface lo inet loopback

# Ethernet.
auto eno1
iface eno1 inet manual

# Wi-Fi.
auto {{ host.wifi_device_name }}
iface {{ host.wifi_device_name }} inet static
  address {{ host.ipv4_with_cidr }}
  gateway 192.168.1.1
  wpa-conf /etc/wpa_supplicant/wpa_supplicant.conf

# Bridge.
auto {{ host.bridge.name }}
iface {{ host.bridge.name }} inet static
  address {{ host.bridge.ipv4_with_cidr }}
  bridge_ports none
  bridge_stp off
  bridge_fd 0

  # Enable IPv4 forwarding.
  post-up echo 1 > /proc/sys/net/ipv4/ip_forward

  # Allow translation of container IP address to hosts external address.
  post-up iptables -t nat -A POSTROUTING -o {{ host.wifi_device_name }} -j MASQUERADE

  # Allow return traffic from the internet for already-established connections.
  post-up iptables -A FORWARD -m conntrack --ctstate RELATED,ESTABLISHED -j ACCEPT

  # Allow forwarding from bridge.
  post-up iptables -A FORWARD -i {{ host.bridge.name }} -o {{ host.wifi_device_name }} -j ACCEPT

  # Add static routes to all other servers.
{% for server in groups['all'] %}
{% if server != inventory_hostname %}
  post-up ip route add {{ hostvars[server].host.bridge.subnet }}/{{ hostvars[server].host.bridge.ipv4_cidr }} via {{ services.tailscale_gateway.ipv4 }} dev {{ host.bridge.name }}
{% endif %}
{%- endfor %}

# Source other interfaces.
source /etc/network/interfaces.d/*
